div
{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1
{
    position: static;
}

#box2{ 
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-image: url("shivaji_maharaj.jpg.jpg");
    background-size: cover;

}

#box3{
    position: absolute;
    top: 10px;
}

#box4
{
    position:fixed;
    right: 10px;
}